/* Reset */
*,
::after,
::before {
    box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

/* CSS Variables*/
:root {
    /* Colors */
    --body-bg: #168e99;
    --text-color: #6b7082;
    --title-color: #2e3349;
    --border-color: #e8e9ec;
    --card-bg: #fff;
    --card-width: 350px;
    --card-height: 374px;

    /* Text sizes */

    /* 18px */
    --text-big: 1.125rem;
    /* 14x */
    --text-normal: 0.875rem;
    /* 10px */
    --text-small: 0.625rem;

    /* Box shadows */
    --card-shadow: 0px 50px 100px -20px rgba(8, 70, 94, 0.504835);

    /* Borders */
    --border: 15px;
}
.container {
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
}
html {
    background-color: var(--body-bg);
}
body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Kumbh Sans', sans-serif;
    margin: 0;
    background: url(./assets/Oval-left.svg) top left/65% no-repeat,
        url(./assets/Oval-right.svg) bottom right/70% no-repeat;
}
p,
span {
    color: var(--text-color);
}
.card {
    background-color: var(--card-bg);
    border-radius: var(--border);
    max-width: var(--card-width);
    height: var(--card-height);
    display: grid;
    grid-template-rows: 1fr auto;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    box-shadow: var(--card-shadow);
    animation: fadeUp ease 1.3s;
}
@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translateY(30%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}
.card__avatar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url(./assets/Oval-pattern.svg) no-repeat;
    position: relative;
}
.card__info {
    position: absolute;
    top: 86.1px;
    text-align: center;
}
.card__info__location {
    font-size: var(--text-normal);
}
.card__info__title,
.card__features__item__title,
.card__info__age {
    color: var(--title-color);
    font-size: var(--text-big);
}
.card__info__age {
    font-weight: normal;
    color: var(--text-color);
}
.card__info__heading {
    display: grid;
    grid-template-columns: 1fr auto;
    column-gap: 0.5rem;
    margin-bottom: 0.8125rem;
    margin-top: 1.2rem;
}
.card__features {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 1.5rem 0;
    border-top: 1px solid var(--border-color);
}
.card__features__item {
    text-align: center;
}
.card__features__item__title {
    margin-bottom: 0.5rem;
}
.card__features__item__name {
    font-size: var(--text-small);
}
